<header id="main-header">
    <div class="container" id="top">
        <nav
            class="navbar navbar-expand-lg"
            [ngClass]="darkService.darkMode ? 'navbar-dark' : 'navbar-light'"
        >
            <a routerLink="/">
                <div id="header-logo-container">
                    <!-- <img
                        src="assets/images/stz-black.png"
                        alt="Steezysite Logo"
                    /> -->
                    <img
                        src="assets/images/logos/just-z-white.png"
                        alt="Steezapp  Logo"
                        width="20px"
                    />
                </div>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" (click)="ToggleNavBar()">
                    <li
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="my-auto nav-item"
                    >
                        <a class="nav-link" routerLink="/"
                            >Home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li routerLinkActive="active" class="my-auto nav-item">
                        <a class="nav-link" routerLink="/projects"
                            >Case Studies</a
                        >
                    </li>
                    <li
                        routerLinkActive="active"
                        class="my-auto nav-item"
                        id="getStartedMobile"
                    >
                        <a class="nav-link" routerLink="/contact">Connect</a>
                        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
                    </li>

                    <li id="get-started" class="nav-item" routerLink="/contact">
                        <span>Let's Connect </span>
                        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
                    </li>
                    <li
                        class="my-auto nav-item"
                        id="toggleDarkMode"
                        (click)="toggleDarkMode(!darkService.darkMode)"
                    >
                        <fa-icon
                            [icon]="darkService.darkMode ? faSun : faMoon"
                        ></fa-icon>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
