<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-split">
                    <div id="footerNav">
                        <a routerLink="">Home</a>
                        <a routerLink="projects">Case Studies</a>
                        <a routerLink="reviews">Reviews</a>
                        <a routerLink="contact" fragment="top">Contact</a>
                        <a routerLink="privacy">Privacy Policy</a>
                        <a (click)="toggleNewsletter()">Newsletter</a>
                        <a
                            href="https://www.linkedin.com/company/steezapp/"
                            target="_blank"
                        >
                            <div id="linkedin">
                                <img
                                    class="img-fluid"
                                    src="assets/images/linkedin-brands.svg"
                                    alt=""
                                /></div
                        ></a>
                    </div>
                    <p>Irvine, CA 92614, USA | © Steezapp {{ year }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
